.App {
  text-align: center;
}

.friends-wrapper {
  background-image: url("./img/friends.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
}

.Card {
  opacity: 0.7;
}
